[Desktop Entry]
Type=Application
Name=Wine Installer
MimeType=application/x-wine-extension-msp;
Exec=env WINEPREFIX="/usr/local/games/Bioshock.Remastered/game/prefix" wine start /ProgIDOpen Msi.Patch %f
NoDisplay=true
StartupNotify=true
Icon=D23E_msiexec.0
